@model noSQL.Models.VideoSearchModel

<div class="container-fluid">

    <div class='row'>
        <div class="col-md-12">
            <div class='card card-body'>


            </div>
            <div class="card card-body">

                <label>  </label>
                <form class="form-inline" asp-action="VideoSearch" method="post">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <label></label>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Wpisz tytuł filmu"
                           aria-label="Szukaj" asp-for=SearchByTitle />

                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Wpisz ocenę filmu"
                           aria-label="Szukaj" asp-for=SearchByRating />
                    <label>  </label>

                    <div>
                        <button type="submit" class="btn btn-secondary" mr-1>Szukaj</button>

                    </div>
                </form>
            </div>
            <br />
        </div>

        @if (Model != null && Model.Movies.Count > 0)
        {
    <div>
        <table class="table table-striped">
            <tr>

                <td>Title</td>
                <td>MPAA_Rating</td>
                <td>Genre</td>
                <td>Release_Date</td>
                <td>Rating</td>
                <td>Summary</td>
                <td>Runtime</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
            @foreach (var movie in Model.Movies)
            {
                <tr>

                    <td>@movie.Title</td>
                    <td> @movie.MPAA_Rating </td>
                    <td> @movie.Genre </td>
                    <td> @movie.Release_Date </td>
                    <td> @movie.Rating </td>
                    <td> @movie.Summary </td>
                    <td> @movie.Runtime </td>
                    <td> @movie.Price </td>
                    <td>
                       

            
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@movie.MovieId"> Dodaj do koszyka</a>
          

                    </td>
                </tr>

            }
        </table>
    </div>
        }


    </div>



</div>
